Webpack
    -Babel
    -SCSS
    -ESLint
    2 Mods
        -DevMode
            -DevServer
            -SourceMap
            -ESLint
            -NotMinified
        -ProdMode
            Minified
Git
